     body {
        height: 100vh;
        width: 100vw;
        margin: 0px;
        padding: 0px;
        user-select: none;
        display: flex;
        flex-direction: column;
        background: linear-gradient(
          rgb(0, 47, 255),
          rgb(67, 19, 99),
          rgb(0, 8, 117)
        );
      }

      #header {
        text-align: center;
        font-family: inherit;
        height: 20%;
        width: 100%;

        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(21, 0, 139);
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 20%;
        width: 98%;
        animation-name: lol;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        margin: 10px;
        border: 3px rgb(255, 255, 255) solid;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border-radius: 2.5rem;
      }

      #mid_i {
        background-image: url(anime-girls-christmas-smiling-short-hair-gifts_thjc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 60%;
        width: 100%;
        text-align: center;
        font-family: inherit;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: solid black 2px;
        border-bottom: solid black 2px;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      @keyframes lol {
        0% {
          background-color: red;
        }
        20% {
          background-color: greenyellow;
        }
        40% {
          background-color: greenyellow;
        }
        60% {
          background-color: rgb(255, 252, 102);
        }
        80% {
          background-color: rgb(255, 252, 102);
        }
        100% {
          background-color: red;
        }
      }

      #mid_i > span {
        height: 300px;
        width: 800px;
        color: white;
        text-shadow: 0 0 10px rgb(255, 255, 255);
        background-color: rgb(0, 8, 117);
        border: dotted 2px rgb(255, 255, 255);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        margin: 5px;
      }
      a:hover {
        color: red;
      }

      #footer {
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 20%;
        width: 98%;
        animation-name: lol;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        margin: 10px;
        border: 3px rgb(255, 255, 255) solid;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 2),
          0 6px 20px 0 rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
          border-radius: 2.5rem;
      }

      button {
        background-color: white;
        border: none;
        cursor: pointer;
        font-family: Impact;
        text-emphasis: initial;
        width: 100px;
        height: 80px;
        text-align: center;
        font-size: 20px;
        transition: width 3s;
      }

      button:hover {
        transition: width 3s;
        width: 200px;
      }

      #egg1 {
        width: 150px;
        height: 150px;
        display: flex;
        justify-items: left;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        margin: 0px;
        perspective: 3rem;
        animation-name: xdd, xdd2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
      }

      .egg2 {
        width: 150px;
        height: 150px;
        display: flex;
        justify-items: right;
        perspective: 3rem;
        align-items: right;
        flex-direction: row;
        margin: 0px;
        justify-content: right;
        animation-name: xdd, xdd2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
      }

      @keyframes xdd {
        0% {
          transform: rotateX(0deg);
        }
        25% {
          transform: rotateX(50deg);
        }
        50% {
          transform: rotateX(100deg);
        }
        75% {
          transform: rotateX(50deg);
        }
        100% {
          transform: rotateX(0deg);
        }
      }

      @keyframes xdd2 {
        0% {
          transform: rotateY(0deg);
        }
        25% {
          transform: rotateY(50deg);
        }
        50% {
          transform: rotateY(100deg);
        }
        75% {
          transform: rotateY(50deg);
        }
        100% {
          transform: rotateY(0deg);
        }
      }

      #flex{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        justify-items: left;
      }

      #wishList{
        margin: 10px;
        padding: 20px;
        width: 300px;
        font-size: 20px;
        font-style: oblique;
        background-color: rgb(0, 8, 117);
        border: dashed whitesmoke 3px ;
        color: white;
        text-shadow: 0 2px 10px;
        list-style-type: none;
      }

      #jump{ 
        background: url(goku.jpg);
        background-size:contain;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        justify-self: center;
        
      }
      /* Purchase modal styles */
      .hidden { display: none; }
      #modalOverlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.6);
        z-index: 90;
      }
      #purchaseModal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: white;
        color: black;
        padding: 20px;
        border-radius: 12px;
        z-index: 100;
        width: min(90%, 600px);
        box-shadow: 0 8px 30px rgba(0,0,0,0.5);
        text-align: center;
      }
      #purchaseModal h2 { margin-top: 0; }
      #purchaseList { text-align: left; margin: 10px auto; max-width: 360px; }
      #bigBill { font-weight: 800; font-size: 1.2rem; color: #800; }
      #purchaseModal .modal-actions { display:flex; gap:10px; justify-content:center; margin-top:12px }
      #purchaseModal button { width: auto; height: auto; padding: 8px 14px; }